body {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#error-space,
#no-picture {
  font-family: "Ariel";
  text-align: center;
  font-size: 500%;
  color: whitesmoke;
}

#no-picture {
  font-size: 300%;
  color: black;
}

#auth {
  float: right;
  margin-right: 5%;
  margin-top: 2%;
}

#hello {
  display: none;
  font-size: 170%;
  vertical-align: middle;
  margin-bottom: 0;
  padding-bottom: 0;
}

#title {
  horiz-align: center;
  position: center;
  font-size: 400%;
  /*margin-bottom: 2%;*/
  margin-left: 27%;
  text-align: center;
  color: antiquewhite;
  font-family: "Ariel";
  letter-spacing: 2px;
  word-spacing: 20px;
  font-weight: 700;
  text-decoration: none;
  font-variant: normal;
  text-transform: capitalize;
  text-decoration: underline;
  display: inline-block;
}
#albumsList {
  background-color: antiquewhite;
  margin-top: 25%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 150px;
  padding-right: 50px;
}

table,
th,
td {
  margin: auto;
  border: 1px solid whitesmoke;
  font-family: "Ariel";
  font-size: 110%;
  table-layout: fixed;
  background-color: #ffdd;
  opacity: 90%;
}

th,
td {
  text-align: center;
}

.rowType,
.rowName {
  width: 25%;
}

#getClientsDiv {
  align-items: center;
  margin: auto;
  position: absolute;
  display: contents;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#addClientDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#editBtm {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonDesign {
  width: 30%;
  font-size: 80%;
}

.buttonDesignCreate {
  width: 20%;
  font-family: "Ariel";
  font-size: 100%;
}

.modal-title {
  margin-top: 3%;
  font-family: "Ariel";
  font-size: 300%;
}

.modal,
.fade,
.right {
  padding-top: 5%;
}

.title-form {
  width: 70%;
  margin: auto;
}

.modal-body {
  width: 80%;
  margin: auto;
}
.form-group {
  margin: auto;
  padding: 5px;
  inline-size: min-content;
}

#confirm {
  margin-bottom: 3%;
}

#caruselSize {
  margin: auto;
  width: 100%;
}

img {
  height: 500px;
  border-radius: 20px;
}

.title-space {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  font-family: "Ariel";
  font-size: 110%;
  padding: 20px;
  border-radius: 0px 20px 0px 20px;
  text-align: center;
}

#pictureModal {
  padding-top: 2%;
}

#pictureViewBackground,
#createAlbumBackground,
#addPictureBackground {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}
